{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Bienvenue sur l'accueil</h1>
		<p>Ce site est une pâle copie de giphy.com</p>
	</div>

    <h2>Voici la liste des catégories principales</h2>
	<div class="row">
		{% for mainCategory in mainCategories %}
			<div class="col-sm-4 bg-dark p3 text-center">
				<a href="{{ path('category.index', { slug : mainCategory.slug} ) }}" class="text-light h3">{{ mainCategory.name | title }}</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
